body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('42066598-old-film-camera-and-polaroid-photos-with-space-for-pictures-on-the-wooden-background.jpg');
    background-size: cover;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative; 
}

header h1 {
    font-size: 36px;
    animation: floatText 3s ease-in-out infinite; 
}


@keyframes floatText {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    font-size: 18px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.portfolio-item .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.portfolio-item .button:hover {
    background-color: #72bab0; 
}

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centered-link {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    max-width: 800px;
}

h2 {
    color: #333;
    font-size: 21px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p {
    color: #555;
    font-size: 16px;
}

.centered-link {
    text-align: center;
}

.button-back-home {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
#site-header nav a:hover {
    color: #72bab0;
   
}
.contact-buttons a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-buttons a.button:hover {
    background-color: #72bab0; 
}