#info-transform,
#info-transform-2,
#info-transform-3,
#info-transform-4 {
    position: absolute;
    width: 500px;
    height: 400px;
    left: -500px;
    background-color: rgba(240, 202, 163, 0.95);
    transition: transform 0.5s;
}

#info-transform nav,
#info-transform-2 nav,
#info-transform-3 nav,
#info-transform-4 nav {
    width: 550px;
    font-size: 30px;
    text-align: left;
    padding: 0.3cm;
    background-color: #f1dea9;
    cursor: pointer;
    color: rgb(0, 0, 0); 

    
}

#info-transform.visible,
#info-transform-2.visible,
#info-transform-3.visible,
#info-transform-4.visible {
    transform: translateX(500px);
}

#info-transform {
    top: 790px;
}

#info-transform-2 {
    top: 1480px;
}

#info-transform-3 {
    top: 2090px;
}

#info-transform-4 {
    top: 2550px;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
    #info-transform,
    #info-transform-2,
    #info-transform-3,
    #info-transform-4 {
        width: 90%; /* Adjust width for smaller screens */
        height: auto; /* Allow height to adjust based on content */
        left: 50px; /* Center the sections horizontally */
        transform: none; /* Remove transform on smaller screens */
    }
    
    #info-transform nav,
    #info-transform-2 nav,
    #info-transform-3 nav,
    #info-transform-4 nav {
        width: 100%; /* Adjust width for smaller screens */
        padding: 0.1cm;
        font-size: 24px; /* Reduce font size for better readability */
    }


    #info-transform {
        top: 790px;
    }

    #info-transform-2 {
        top: 1480px;
    }

    #info-transform-3 {
        top: 2090px;
    }

    #info-transform-4 {
        top: 2550px;
    }
}