h1#mainTitle {
    font-size: 30px;
    color: blue;
}

p.intro {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(37, 48, 171);
}

p.favorite {
    color: rgb(0, 0, 0);
}

div.iframe-container {
    width: 480px;
}

a#enterHomepage {
    font-size: 35px;
    color: rgb(57, 57, 57);
    text-decoration: none;
}

.backhome {
    background-color: rgba(62, 63, 139, 0.4);
    border-radius: 10px;
    padding: 5px;
}
