
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: float 3s ease-in-out infinite; 
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 15px;
}

a.back-button {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; 
}

a.back-button:hover {
    color: hsl(178, 30%, 64%); 
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.gallery-description-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.gallery-description {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo {
    margin: 10px;
    flex-basis: calc(33.33% - 20px);
}

.photo img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
